@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Protest+Riot&display=swap');

:root {
    --fonte-primaria: "Protest Riot", sans-serif;
    --fonte-secundaria: "Albert Sans", sans-serif;
    --azul-escuro: #03045eff;
    --azul: #0077b6ff;
    --azul-ciano: #00b4d8ff;
    --azul-claro: #90e0efff;
    --azul-pastel: #caf0f8ff;
    --preto: #000000;
    --branco: #f1f1f1;
    
}

body{
    background-color: var(--azul-ciano);
    color: var(--azul);
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    font-family: var(--fonte-primaria);
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal spam {
    color: var(--azul-escuro);
}

.botao{
    font-family: var(--fonte-primaria);
    background-color: var(--azul-claro);
    color: var(--preto);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--azul-pastel);
    border-left: 4px solid var(--azul-pastel) ;
    border-right: 4px solid var(--azul-pastel);
    border-top: none;
}

.botoes{
    display: block;
}
.botao:first-child{
border-radius: 40px 40px 0 0;
}
.botao:last-child{
 border-radius: 0 0 40px 40px;
}

.botoes-ativo{
    background-color: var(--azul-pastel);
    border-bottom: var(--azul-ciano);
}
.abas-textos{
    background-color: var(--branco);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}
.aba-conteudo.ativo{
    display: block;
}
.aba-conteudo{
    display: none;
}
.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
    color: var(--azul-ciano);
}
.aba-conteudo-titulo-secundario{
    text-align: center;
    color: var(--azul-ciano);
    text-transform: uppercase;
}
@media screen and (min-width:768px) {
    .botoes{
    display: flex ;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
}
